#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #0E1113;
    width: 240px;
    height: 100vh;
    cursor: pointer;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
   
    padding-top: 1rem;
    
    font-family: "IBM Plex Sans", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#sidebar .sidebar-button {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 4px,16px;

}

#sidebar a:hover {
    background-color: #181C1F;
    border-radius: 10px;
}

#sidebar i {
    color: white;
    font-size: 15px;
}

#sidebar a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-left: 20px;
}