#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #0E1113;
    width: 240px;
    height: 100vh;
    cursor: pointer;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border-right: solid 1px #3E4142;
    font-family: "IBM Plex Sans", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#sidebar .sidebar-button {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 4px,16px;

}

#sidebar a:hover {
    background-color: #181C1F;
    border-radius: 10px;
}

#sidebar i {
    color: white;
    font-size: 15px;
}

#sidebar a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    padding-left: 20px;
}

#sideOptions {
    border-bottom: solid 1px #3E4142;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.P1{
    font-size: 15px;
    font-weight: 600;
    color: #878A8C;
    flex-grow: 1;
}


.communities-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  margin-left: 10px;
}

.communities-dropdown.open {
  max-height: 500px;
  opacity: 1;
}

.community-item {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.bi-caret-down-fill.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.bi-caret-down-fill {
  transition: transform 0.3s ease;
}

.communityItem {
  display: block;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.communityItem:hover {
  background-color: #181C1F;
  text-decoration: underline;
}