#homePage {
    display: flex;
    flex-direction: column;
    margin-left: 272px;
    width: 100%;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    margin-right: 272px;
}