#homePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    min-height: 100vh;   
    overflow-x: hidden;
    align-items: center;
    margin-left: 272px;
    margin-right: 330px;
    border-right: solid 1px #3E4142;
    scrollbar-width: none;
    padding: 0px;
}

#postsSection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}