.singlePost {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 550px;
    color: white;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 20px;
}

.singlePost:hover {
    background-color: #212325;
}

#upperSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#postInfo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 14px;
    padding-bottom: 5px;
}

#postInfoInner {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#postInfoInner #subreddit {
    font-weight: bold;
    margin-bottom: 0px;
    padding: 0px;
}

#postInfoInner #user {
    margin-top: 0px;
    padding: 0px;
}

#subLogo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#postImg {
    width: 550px;
    height: auto;
    max-height: 550px;
    border-radius: 10px;
}

#user {
    font-size: 13px;
}

#tago {
    color: #7a7a7a;
    margin-left: 7px;
}

#yarab {
    display: flex;
    flex-direction: row;
}