.singlePost {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 550px;
    color: white;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 20px;
}

.singlePost:hover {
    background-color: #212325;
    cursor: pointer;
}

#upperSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#postInfo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 14px;
    padding-bottom: 5px;
}

#postInfoInner {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#postInfoInner #subreddit {
    font-weight: bold;
    margin-bottom: 0px;
    padding: 0px;
}

#postInfoInner #user {
    margin-top: 0px;
    padding: 0px;
}

#subLogo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#postImg {
    width: 550px;
    height: auto;
    max-height: 550px;
    border-radius: 10px;
}

#user {
    font-size: 13px;
}

#user:hover {
    text-decoration: underline;
}

#tago {
    color: #7a7a7a;
    margin-left: 7px;
}

#yarab {
    display: flex;
    flex-direction: row;
}

#bottomSection {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 20px;
    padding-top: 5px;
}

#postVote {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #323232;
    padding: 2px 2px;
    border-radius: 35px;
}

#commentPart {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #323232;
    padding: 2px 22px 2px 22px;
    border-radius: 35px;
}

#commentPart:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.arrow {
    border-radius: 30px;
    padding: 0px 4px;
}

.arrow:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.arrow.active {
    color: #f97316;
}